{% extends "layout.j2" %}

{% block title %}Create thread{% endblock %}
{% block header %}<h1>Create thread</h1>{% endblock %}
{% block content %}
<form action="{{ url_for('board.create_thread', board_id=board_id) }}" method="post">
    {# {{ add_csrf_token() }} #}
    <p>
        <label for="title">Title</label>
        <input type="text" name="title">
    </p>
    <p>
        <label for="body">Content body</label> 
        <textarea name="body" rows="7"></textarea>
    </p>
    <input class="accent-fill" type="submit" value="Create">
</form>
{% endblock %}