{% extends "layout.j2" %}

{% block title %}Moderator Dashboard{% endblock %}
{% block header %}
    <h1>Moderator Dashboard</h1>
    <p>Here you can monitor recent activity on the site.</p>
{% endblock %}

{% block content %}{% endblock %}