{% extends "layout.j2" %}

{% block title %}{{ user.username | e}} - Profile{% endblock %}
{% block header %}<h1>{{ user.username | e}} - Profile</h1>{% endblock %}
{% block content %}
<form action="{{ url_for('user.edit_profile', user_id=user.id) }}" method="post">
    {{ add_csrf_token() }}
    <p>
        <label for="username">Username</label>
        <input {{ 'disabled' if user.id != session.id else '' }} type="text" name="username" value="{{ user.username | e }}"/>
    </p>
    <p>Joined on {{ user.created_at | short_date }}</p>
    {% if user.id == session.id %}
        <input class="accent-fill" type="submit" value="Save">
    {% endif %}
</form>
{% endblock %}