{% extends "layout.j2" %}

{% block title %}{{ thread.title }}{% endblock %}
{% block header %}
    <h1>{{ thread.title }}</h1>
    <p>{{ thread.content_body }}</p>
    {% if thread.user_id == session.id %}
        <a href="{{ url_for('thread.edit_thread', thread_id=thread.id) }}">Edit</a>
        {# <a href="{{ url_for('thread.delete_thread', thread_id=thread.id) }}">Delete</a> #}
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        {{ render_post(post) }}
    {% endfor %}
    <div>
        <form action="{{ url_for('thread.add_post', thread_id=thread.id) }}" method="post">
            <p>
                <label for="body">Message</label>
                <textarea name="body" rows="5"></textarea>
            </p>
            <input class="accent-fill" type="submit" value="Add reply">
        </form>
    </div>
{% endblock %}